@model LoginUser
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_TrackingLayout.cshtml";
}
<form id="registerForm" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <h2>Create a new account.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" autocomplete="firstname" aria-required="true" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" autocomplete="lastname" aria-required="true" />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div><br />
    <div class="form-floating">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div><br />
    <div class="form-floating">
        <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div><br />
    <div class="form-floating">
        <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <label asp-for="ConfirmPassword"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div><br />
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

